USE [PRJ301]
GO
/****** Object:  Schema [mydb]    Script Date: 3/20/2024 9:24:24 AM ******/
CREATE SCHEMA [mydb]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [varchar](50) NOT NULL,
	[u_id] [int] NOT NULL,
	[buyDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItem]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItem](
	[id] [varchar](50) NOT NULL,
	[quantity] [int] NULL,
	[unitPrice] [float] NULL,
	[pro_id] [int] NOT NULL,
	[cat_id] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DateExp]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateExp](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mfgDate] [date] NOT NULL,
	[expDate] [date] NOT NULL,
	[cid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[cid] [int] NOT NULL,
	[totalmoney] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLine]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLine](
	[oid] [int] NOT NULL,
	[pid] [int] NOT NULL,
	[quantity] [float] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_OrderLine] PRIMARY KEY CLUSTERED 
(
	[oid] ASC,
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [float] NULL,
	[cid] [int] NOT NULL,
	[image] [varchar](50) NULL,
	[describe] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[fullname] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[phonenum] [nvarchar](10) NULL,
	[avatar] [varchar](50) NULL,
	[role] [int] NULL,
	[password] [varchar](36) NOT NULL,
	[address] [nvarchar](123) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [mydb].[emp]    Script Date: 3/20/2024 9:24:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [mydb].[emp](
	[cdate] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Cơm')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Salad')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Đồ Uống')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[DateExp] ON 

INSERT [dbo].[DateExp] ([id], [mfgDate], [expDate], [cid]) VALUES (3, CAST(N'2022-11-01' AS Date), CAST(N'2022-11-02' AS Date), 1)
INSERT [dbo].[DateExp] ([id], [mfgDate], [expDate], [cid]) VALUES (4, CAST(N'2022-11-01' AS Date), CAST(N'2022-11-02' AS Date), 2)
INSERT [dbo].[DateExp] ([id], [mfgDate], [expDate], [cid]) VALUES (5, CAST(N'2022-11-01' AS Date), CAST(N'2022-11-08' AS Date), 3)
SET IDENTITY_INSERT [dbo].[DateExp] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([id], [date], [cid], [totalmoney]) VALUES (1, CAST(N'2022-10-31' AS Date), 2, 0)
INSERT [dbo].[Order] ([id], [date], [cid], [totalmoney]) VALUES (2, CAST(N'2022-10-31' AS Date), 2, 0)
INSERT [dbo].[Order] ([id], [date], [cid], [totalmoney]) VALUES (3, CAST(N'2022-10-31' AS Date), 2, 0)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderLine] ([oid], [pid], [quantity], [price]) VALUES (4, 4, 1, 35000)
INSERT [dbo].[OrderLine] ([oid], [pid], [quantity], [price]) VALUES (5, 7, 1, 35000)
INSERT [dbo].[OrderLine] ([oid], [pid], [quantity], [price]) VALUES (5, 9, 1, 35000)
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ID], [name], [price], [cid], [image], [describe]) VALUES (4, N'Cơm Gà Sốt Cay', 35000, 1, N'gaxotcay.jpg', N'Gà rán sốt cay là một món từ gà thơm ngon, hấp dẫn và cách làm vô cùng đơn giản, ai ăn cũng mê.')
INSERT [dbo].[Product] ([ID], [name], [price], [cid], [image], [describe]) VALUES (7, N'Cơm Gà Sốt Nấm', 35000, 1, N'gaxotnam.jpg', N'Gà sốt nấm là món ăn đơn giản mà ngon miệng, được sử dụng trong bữa cơm gia đình thường ngày. Thịt gà mềm, thấm đẫm nước sốt hương nấm thơm ngọt sẽ giúp cả nhà ngon miệng hơn.')
INSERT [dbo].[Product] ([ID], [name], [price], [cid], [image], [describe]) VALUES (9, N'Cơm Sườn Chua Ngọt', 35000, 1, N'suonxaochuangot.jpg', N'Cơm sườn chua ngọt là món ăn phổ biến tại các bữa ăn hàng ngày của người dân Việt Nam. Nhắc đến cơm sườn chua ngọt chúng ta sẽ biết ngay đây là món cơm ăn cùng với sườn. Sườn được xào chín tới, nêm nếm gia vị đậm đà chua chua của chanh, ngọt của đường. Tạo lên món cơm sườn ngon thật hấp dẫn.')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [name], [fullname], [email], [phonenum], [avatar], [role], [password], [address]) VALUES (1, N'truong', N'TrungAnh', N'TrungAnh', N'0971065539', NULL, 1, N'123456', N'100')
INSERT [dbo].[User] ([id], [name], [fullname], [email], [phonenum], [avatar], [role], [password], [address]) VALUES (2, N'maura', N'Maura', N'maura@gmail.com', N'0123456789', NULL, 2, N'1234321', N'456 abc-X-Yfgfh')
INSERT [dbo].[User] ([id], [name], [fullname], [email], [phonenum], [avatar], [role], [password], [address]) VALUES (1003, N'tupv', N'PhanVietTu', N'tupv@gmail.com', N'0123123123', NULL, 2, N'123123', N'111 xyz-A-B')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__72E12F1BD20281D3]    Script Date: 3/20/2024 9:24:24 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__72E12F1BE6B86B3A]    Script Date: 3/20/2024 9:24:24 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('2') FOR [role]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([u_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([u_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD FOREIGN KEY([u_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([cat_id])
REFERENCES [dbo].[Cart] ([id])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([pro_id])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([pro_id])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[CartItem]  WITH CHECK ADD FOREIGN KEY([pro_id])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[DateExp]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[DateExp]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[DateExp]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([cid])
REFERENCES [dbo].[Category] ([id])
GO
